<div class="main admin-header" ng-controller="AdminHeaderCtrl">
   <div class="range-control">
      <div class="logo">
         <a class="navbar-brand" href="#/manager/">
            <i class="fa fa-sun-o"></i> vacation control
         </a>
      </div>

      <div class="nav-list header-nav-list">
         <span class="nav-text namemanager">
            <a href="#/manager/edit/">{{ user.first_name }} | {{user.email}}</a>
         </span>
          <span class="nav-text">
            <a href="#/manager/">заявки</a>
          </span>
          <span class="nav-text">
              <a class="list" href="#/manager/vacation">подать заявку</a>
          </span>
          <span class="nav-text">
            <a class="list" href="#/manager/list">список</a>
          </span>
          <span class="nav-text exit-button">
              <a href="javascript:void(0);" ng-click="logout()" class="exit" id="admin-exit">выйти</a>
          </span>
      </div>
   </div>

   <div ng-hide="loaded">
      <div id="loader-wrapper">
         <div id="loader"></div>
      </div>

   </div>
</div>