.month-selector {
    min-height: 40px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.month-hider {
    background-color: #fff;
    border: 2px solid #B2DFDB;
    margin-bottom: 5px;
    padding: 5px;
}

.month {
    background-color: #eee;
    margin-left: 14px;
    padding: 1px;
    min-height: 25px;
    font-size: 10pt;
    width: 7%;
    transition: 400ms;
    border: 2px solid #B2DFDB;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 5px -7px rgba(29, 38, 95,0.57);
    -moz-box-shadow:    0px 10px 5px -7px rgba(29, 38, 95,0.57);
    box-shadow:         0px 10px 5px -7px rgba(29, 38, 95,0.57);
}

.month:hover {
    font-weight: 800;
    background-color: #fff;
    -webkit-box-shadow: 0px 13px 5px -7px rgba(29, 38, 95,0.57);
    -moz-box-shadow:    0px 13px 5px -7px rgba(29, 38, 95,0.57);
    box-shadow:         0px 13px 5px -7px rgba(29, 38, 95,0.57);
}
.month.active{
    font-weight: 800;
    background-color: #fff;
    -webkit-box-shadow: 0px 13px 5px -7px rgba(29, 38, 95,0.57);
    -moz-box-shadow:    0px 13px 5px -7px rgba(29, 38, 95,0.57);
    box-shadow:         0px 13px 5px -7px rgba(29, 38, 95,0.57);
    border: 3px solid #2f96b4;
}

.swipe-calendar {
    background-color: #e1e1e1;
    border: 2px solid #B2DFDB;
    min-height: 600px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(29, 38, 95, 0.75);
    -moz-box-shadow:    0px 4px 0px 0px rgba(29, 38, 95, 0.75);
    box-shadow:         0px 4px 0px 0px rgba(29, 38, 95, 0.75);

}

.swipe-area {
    position: relative;
    z-index: 1;
    //overflow-x: scroll;
    //overflow-y: hidden;
    overflow: hidden;
    min-height: 600px;
    white-space: nowrap;
    background-color: #fff;
    border-left: 2px solid #B2DFDB;
    padding-top: 0;
}

.swipe-calendar-header {
    font-weight: 600;
    text-decoration: underline;
}

div.employees {
    padding-top: 43px;
    margin-right: 0;
    padding-right: 0;
}

div.employees div.col-md-12 {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #B2DFDB;
    border-right: none;
}

div.employees div div {
    border: none;
}
.fixed {
    position: absolute;
    top:0;
    z-index: 999999999;
    background: #e1e1e1;
//    width: 100%;
    /*margin-left: -5px;*/

}
.fixed strong{
    padding-left:5px;
 }
.empl {
    height: 22px;
    border: 1px solid black;
}

.month-wrapper {
    white-space: nowrap;
    display: inline-block;
    vertical-align: text-top;

    border-right: 1px dashed tomato;
    margin-left: 5px;
    margin-top: 0px;
}

.days-wrapper {
    border: 1px solid #e1e1e1;
    border-right: none;
    border-left: none;
}

.day {
    width: 18px;
    display: inline-block;
}

.ranges-wrapper {

}

.range {
    height: 23px;
    position: relative;
    margin-top: 2px;
    margin-bottom: 2px;

    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.range-line {
    display: inline;
    background-color: #003bb3;
    position: absolute;
    min-height: 21px;
    border-radius: 10px ;
    color: #fff;
    text-align: center;
}

.end-two-month{
    border-radius: 10px 0px 0px 10px !important ;
}
.range-line-start {
    border-radius: 0px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.range-line-end {
    border-radius: 0px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rangeActive {
    background-color: lightgray;
    cursor:pointer;
    border-right: none;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}
.rangeActive:hover {
    background-color: slategray;
    z-index:99999999999999;
}

.rangeAccepted {
    background-color: #009688;
}

.rangeAccepted {
    background-color: #009688;
    cursor:pointer;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

.rangeAccepted:hover {
    background-color: #00796B;
    z-index:99999999999999;
}

.rangeApproved {
    border: 3px solid #92cf94;
    background-color: #fff;
    cursor:pointer;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}
.rangeApproved:hover {
    border: 3px solid  #449d44;
    z-index:99999999999999;
}
.rangeDeclined {
    border: 3px solid tomato;
    background-color: #fff;
    cursor:pointer;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}
.rangeDeclined:hover {
    border: 3px solid indianred;
    z-index:99999999999999;
}

.rangeRefused {
    background-color: #D32F2F;
    cursor:pointer;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    border-right: none;
}
.rangeRefused:hover {
    background-color: #b71c1c;
    z-index:99999999999999;
}

.micro-range{display: none;}

.preloader {
    color: #fff;
    font-size: 25pt;
    position: absolute;
    top: 45%;
    left: 49%;
}



#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.new-vac-btn {
    background-color: rgba(0,0,0,0.3);

    width: 158px;
    font-size: 12pt;
    text-align: center;
    padding: 5px;

    height: 40px;
}

.new-vac-btn a{
    color: #fff;
}

