//== Badges
//
//##

@import "colors";
$badge-color:                 #fff;
//** Linked badge text color on hover
$badge-link-hover-color:      #fff;
$badge-bg:                    $gray-light;

//** Badge text color in active nav link
$badge-active-color:          $link-color;
//** Badge background color in active nav link
$badge-active-bg:             $gray-light;

$badge-font-weight:           bold;
$badge-line-height:           1;
$badge-border-radius:         10px;
