//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@import "navbar";
@import "colors";

$btn-font-weight:                normal;

$btn-default-color:              #fff;
$btn-default-bg:                  $navbar-default-bg;
$btn-default-border:              $btn-default-bg;

$btn-primary-color:               $btn-default-color;
$btn-primary-bg:                  $brand-primary;
$btn-primary-border:              $btn-primary-bg;

$btn-success-color:               $btn-default-color;
$btn-success-bg:                  $brand-success;
$btn-success-border:              $btn-success-bg;

$btn-info-color:                  $btn-default-color;
$btn-info-bg:                     $brand-info;
$btn-info-border:                 $btn-info-bg;

$btn-warning-color:               $btn-default-color;
$btn-warning-bg:                  $brand-warning;
$btn-warning-border:              $btn-warning-bg;

$btn-danger-color:                $btn-default-color;
$btn-danger-bg:                   $brand-danger;
$btn-danger-border:               $btn-danger-bg;

$btn-link-disabled-color:         $gray-light;
