//== Dropdowns
//
//## Dropdown menu container and contents.

@import "colors";

//** Background for the dropdown menu.
$dropdown-bg:                     $gray-dark;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15);
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:        $gray-darker;
//** Divider color for between dropdown items.
$dropdown-divider-bg:             $gray-darker;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     #fff;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:         $gray-darker;

//** Dropdown link text color.
$dropdown-link-color:             $text-color;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      #fff;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:          $dropdown-link-active-bg;



//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:    $text-muted;

//** Text color for headers within dropdown menus.
$dropdown-header-color:           $text-muted;

//** Deprecated ` $dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000;
