//== Jumbotron
//
//##

@import "colors";
@import "typography";

$jumbotron-padding:              30px;
$jumbotron-color:                inherit;
$jumbotron-bg:                   darken( $body-bg, 5%);
$jumbotron-heading-color:        inherit;
$jumbotron-font-size:            ceil(( $font-size-base * 1.5));



