//== Modals
//
//##

@import "colors";
@import "typography";

//** Padding applied to the modal body
$modal-inner-padding:         20px;

//** Padding applied to the modal title
$modal-title-padding:         15px;
//** Modal title line-height
$modal-title-line-height:      $line-height-base;

//** Background color of modal content area
$modal-content-bg:                             lighten( $body-bg, 3%);
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999;

//** Modal backdrop background color
$modal-backdrop-bg:           #000;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5;
//** Modal header border color
$modal-header-border-color:   darken( $gray-darker, 5%);
//** Modal footer border color
$modal-footer-border-color:    $modal-header-border-color;

$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;
