//== Panels
//
//##

@import "components";
@import "states";
@import "colors";

$panel-bg:                    lighten( $body-bg, 3%);
$panel-body-padding:          15px;
$panel-heading-padding:       10px 15px;
$panel-footer-padding:        $panel-heading-padding;
$panel-border-radius:         $border-radius-base;

//** Border color for elements within panels
$panel-inner-border:          rgba(0, 0, 0, 0.6);

$panel-default-text:          $text-color;
$panel-default-border:        rgba(0, 0, 0, 0.6);
$panel-default-heading-bg:    lighten( $body-bg, 10%);
$panel-footer-bg:             $panel-default-heading-bg;

$panel-primary-text:          #fff;
$panel-primary-border:        $panel-default-border;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          $state-success-text;
$panel-success-border:        $panel-default-border;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             $state-info-text;
$panel-info-border:           $panel-default-border;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          $state-warning-text;
$panel-warning-border:        $panel-default-border;
$panel-warning-heading-bg:    $state-warning-bg;

$panel-danger-text:           $state-danger-text;
$panel-danger-border:         $panel-default-border;
$panel-danger-heading-bg:     $state-danger-bg;
