// Slate 3.3.0
// Variables
// --------------------------------------------------
@import "alert";
@import "badges";
@import "breadcrump";
@import "buttons";
//@import "carousel";
@import "close";
@import "code";
@import "colors";
@import "components";
@import "dropdowns";
@import "forms";
//@import "iconography";
//@import "jumbotron";
@import "labels";
@import "list";
@import "modal";
@import "nav";
@import "navbar";
@import "pagination";
@import "panel";
@import "popover";
@import "progress";
@import "states";
@import "tables";
@import "thumbnails";
@import "tooltip";
@import "type";
@import "typography";
@import "wells";

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-modal:             1040;




//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px +  $grid-gutter-width);
//** For ` $screen-sm-min` and up.
$container-sm:                  $container-tablet;

// Medium screen / desktop
$container-desktop:            (940px +  $grid-gutter-width);
//** For ` $screen-md-min` and up.
$container-md:                  $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px +  $grid-gutter-width);
//** For ` $screen-lg-min` and up.
$container-lg:                  $container-large-desktop;
