<div class='fashion-bg'></div>

<div class="container">
    <div class="main" ng-controller="ProfileController">
        <div class="row range-control">
            <div class="col-md-4">
                <div class='logo'>
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-sun-o"></i> vacation control
                    </a>
                </div>
            </div>

            <div class="col-md-4">

            </div>
            <div class="col-md-4 nav-list">

                <span class="nav-text">
                  <a href="#">СПИСОК</a>
                </span>

                <span class="nav-text">
                  <a href="#">НАСТРОЙКИ</a>
                </span>
                <span class="nav-text">
                  <a href="#">РАСПЕЧАТАТЬ</a>
                </span>

            </div>
        </div>

        <div class="row profile">

            <h4 class="text-center">ПРОФИЛЬ</h4>

            <div class="col-md-6">
                <br/>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">Имя</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="username" placeholder="Имя">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default btn-lg">Обновить</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <br/>
                <table class="table table-condensed">
                    <tr>
                        <td>#</td>
                        <td>Период</td>
                        <td>Статус</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>20.02-28.02.2015</td>
                        <td>Одобрена</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>20.02-28.02.2015</td>
                        <td>Одобрена</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>20.02-28.02.2015</td>
                        <td>Отклонена</td>
                    </tr>
                </table>

            </div>

        </div>