<div class='wrap'>
    Войти
    <div class="alert alert-danger" role="alert" ng-if="error!=null">{{ error }}</div>
    <form class="form-signin" id="form-signin" role="form" name="formLogin" ng-submit="login(formLogin.$valid)" >

        <input type='email' id='username' name="username" placeholder='Email...' required autofocus ng-model="email">
        <input type='password' id='password' name="password" placeholder='******' required ng-model="password">

    <div class="text-center social">

        <!--Авторизоваться через социальные сети:-->
        <!--<div class="social-links">-->
            <!--<i title="vk" class="fa fa-vk"></i>-->
            <!--<i title="Google+" class="fa fa-google-plus"></i>-->
            <!--<i title="Facebook" class="fa fa-facebook-official"></i>-->
            <!--<i title="GitHub" class="fa fa-github"></i>-->
        <!--</div>-->
    </div>
    <p class="sign_up"><a href="#/singup">Регистрация</a></p>
     <button id="button" type="submit" class="btn btn-lg active" ><i class="fa fa-sign-in"></i> Войти</button>
    </form>
</div>

