<div class="main admin-header" ng-controller="AdminHeaderCtrl">
    <div class="row range-control">
        <div class="col-md-4">
            <div class='logo'>
                <a class="navbar-brand" href="#/admin/">
                    <i class="fa fa-sun-o"></i> vacation control
                </a>
            </div>
        </div>

        <div class="col-md-4">

        </div>
        <div class="col-md-8 col-lg-6 nav-list">
        <span class="nav-text" data-test="{{ user}}">{{user.email || user.username}}</span>
                <span class="nav-text">
                  <a href="#/admin/">ЗАЯВКИ</a>
                </span>
                <span class="nav-text" ng-show="user.group_code == 2 ">
                    <a class="list" href="#/admin/vacation">ПОДАТЬ ЗАЯВКУ</a>
                </span>
                <span class="nav-text">
                  <a class="list" href="#/admin/list">СПИСОК</a>
                </span>
                <span class="nav-text">
                  <a href="#/admin/settings">НАСТРОЙКИ</a>
                </span>
                <span class="nav-text exit-button">
                    <a href="" ng-click="logout()" class="exit" id="admin-exit">ВЫЙТИ</a>
                </span>
        </div>

    </div>

    <div ng-hide='loaded'>
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>

    </div>


</div>